
<form class="form-horizontal" action="/Login/Autentica" method="post">
    <div class="control-group">
        <label class="control-label" for="login">Login</label>
        <div class="controls">
            <input type="text" class="form-control" id="login" placeholder="login">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="senha">Senha</label>
        <div class="controls">
            <input type="password" class="form-control"  id="senha" placeholder="senha">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-info">Logar</button>
        </div>
    </div>
  
</form>